.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: rgb(163, 139, 102);
}

.title {
  font-size: 2rem;
  color: #333;
  z-index: 10;
  padding-top: 1rem;
  padding-left: 1rem;
}

.container-3d {
  position: absolute;
  top: 0;
  left: 0;
}
